<!-- form helper: https://guides.rubyonrails.org/form_helpers.html -->
<!-- 190101 If there has some error messages occure when saving into database, -->
<!-- then showing full messages on the new page which be rendered -->

<!-- 190225 pass in paramas variable obj: as a pointer of @article -->
<%= render 'shared/errors', obj: @article %>

<!-- 表單排版 -->
<div class="row">
  <div class="col-xs-12"
  <!-- setting column horizontal of whole page -->
    <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :title %>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
      </div>
    </div>
    <br />
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :description %>
      </div>
      <div class="col-sm-8">
        <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Body of article" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
    <% end %>
    <div class="col-xs-6 col-xs-offset-2">
      [ <%= link_to "Cancel request and return  articles listing", articles_path %> ]
    </div>
  </div>
</div>