<h1>Create an article</h1>
<!-- form helper: https://guides.rubyonrails.org/form_helpers.html -->
<!-- 190101 If there has some error messages occure when saving into database, -->
<!-- then showing full messages on the new page which be rendered -->
<% if @article.errors.any? %>
<h2>The following errors prevented the article from getting created.</h2>
<ul>
  <% @article.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @article do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>